In [11]:
import time
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime, timedelta, date
# Loading datasets
data = pd.read_csv("./chicago-traffic-tracker-historical-congestion-estimates-by-segment-2018-current-1.csv", na_values = "NaN")

In [12]:
# Replacing -1 values (which is missing values) to NaN
data.replace(-1, 'NaN', inplace=True)
data = data[(data != "NaN")]

In [13]:
#Deleting Unuseful Columns
del data['COMMENTS']
del data['Community Areas']
del data['Wards']

In [14]:
# Before removing NaN Values the Dateset shape
data.shape

(3068530, 22)

In [15]:
#Describing Percentage for each column Total Missing Values in the Datasets
data.isnull().sum() * 100 / len(data)

TIME                0.000000
SEGMENT_ID          0.000000
SPEED              39.622523
STREET              0.000000
DIRECTION           0.000000
FROM_STREET         0.000000
TO_STREET           0.000000
LENGTH              0.000000
STREET_HEADING      0.000000
BUS_COUNT           0.000000
MESSAGE_COUNT       0.000000
HOUR                0.000000
DAY_OF_WEEK         0.000000
MONTH               0.000000
RECORD_ID           0.000000
START_LATITUDE      0.000000
START_LONGITUDE     0.000000
END_LATITUDE        0.000000
END_LONGITUDE       0.000000
START_LOCATION      0.000000
END_LOCATION        0.000000
Zip Codes           0.000000
dtype: float64

In [16]:
# NaN Values Drop and Clean Dataset 
data = data.dropna()

In [17]:
# After removing NaN Values the Dateset shape
data.shape

(1852701, 22)

In [18]:
#Describing Percentage for each column Total Missing Values in the Datasets
data.isnull().sum() * 100 / len(data)

TIME               0.0
SEGMENT_ID         0.0
SPEED              0.0
STREET             0.0
DIRECTION          0.0
FROM_STREET        0.0
TO_STREET          0.0
LENGTH             0.0
STREET_HEADING     0.0
BUS_COUNT          0.0
MESSAGE_COUNT      0.0
HOUR               0.0
DAY_OF_WEEK        0.0
MONTH              0.0
RECORD_ID          0.0
START_LATITUDE     0.0
START_LONGITUDE    0.0
END_LATITUDE       0.0
END_LONGITUDE      0.0
START_LOCATION     0.0
END_LOCATION       0.0
Zip Codes          0.0
dtype: float64

In [19]:
#Extraction in the new column Year, Month, Day, Time from Date
data['TIME'] = pd.to_datetime(data['TIME'])
data['Date'] = data['TIME'].dt.date
data['Year'] = data.TIME.dt.year.astype('int64')
data['Month'] = data.TIME.dt.month.astype('int64')
data['Week'] = data.TIME.dt.week.astype('int64')
data['Day'] = data.TIME.dt.day.astype('int64')

In [20]:
#Dataset
data

,TIME,SEGMENT_ID,SPEED,STREET,DIRECTION,FROM_STREET,TO_STREET,LENGTH,STREET_HEADING,BUS_COUNT,...,END_LATITUDE,END_LONGITUDE,START_LOCATION,END_LOCATION,Zip Codes,Date,Year,Month,Week,Day
0,2018-03-21 17:31:29,1133,23,Cicero,SB,Cermak,31st,1.00,S,3,...,41.836747,-87.743932,POINT (-87.7444337191 41.8512451897),POINT (-87.7439318058 41.8367473974),4458,2018-03-21,2018,3,12,21
1,2018-03-21 17:31:29,1134,20,Cicero,SB,Roosevelt,Cermak,1.02,S,2,...,41.851245,-87.744434,POINT (-87.7449852043 41.8659627382),POINT (-87.7444337191 41.8512451897),22216,2018-03-21,2018,3,12,21
2,2018-03-21 17:31:29,1151,20,Harlem,NB,Madison,Chicago,1.01,S,1,...,41.894268,-87.805101,POINT (-87.8045488066 41.8796992839),POINT (-87.8051007941 41.8942683013),26615,2018-03-21,2018,3,12,21
3,2018-03-21 17:31:29,1152,23,Harlem,NB,Chicago,North Ave,1.01,N,1,...,41.908856,-87.805554,POINT (-87.8051007941 41.8942683013),POINT (-87.8055536529 41.9088560337),26615,2018-03-21,2018,3,12,21
4,2018-03-21 17:31:29,1153,14,Harlem,NB,Forest Preserve Ave,Gunnison,1.00,N,3,...,41.968344,-87.806982,POINT (-87.8071497455 41.9538138239),POINT (-87.8069823878 41.9683436725),22254,2018-03-21,2018,3,12,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068525,2018-02-28 17:01:00,1307,16,Clark,SB,Harrison,Roosevelt,0.50,S,3,...,41.867374,-87.630536,POINT (-87.630774 41.874521),POINT (-87.630536 41.867374),14913,2018-02-28,2018,2,9,28
3068526,2018-02-28 17:01:00,1308,24,Harrison,EB,Canal,State,0.60,W,5,...,41.874452,-87.627611,POINT (-87.639487 41.874238),POINT (-87.627611 41.874452),14917,2018-02-28,2018,2,9,28
3068527,2018-02-28 17:01:00,1308,24,Harrison,EB,Canal,State,0.60,W,5,...,41.874452,-87.627611,POINT (-87.639487 41.874238),POINT (-87.627611 41.874452),14917,2018-02-28,2018,2,9,28
3068528,2018-02-28 17:01:00,1309,23,Harrison,WB,Canal,Halsted,0.40,W,1,...,41.874438,-87.647125,POINT (-87.639487 41.874538),POINT (-87.647125 41.874438),14917,2018-02-28,2018,2,9,28
3068529,2018-02-28 17:01:00,1309,23,Harrison,WB,Canal,Halsted,0.40,W,1,...,41.874438,-87.647125,POINT (-87.639487 41.874538),POINT (-87.647125 41.874438),14917,2018-02-28,2018,2,9,28

In [21]:
str1 = "chicagotrafficcleaned.csv"
data.to_csv(str1)